{{>header}}
{{>navbar}}
<section class="container my-3">
    <form class="my-2 border border-2 border-primary p-3">
        <div class="mb-3">
            <input class="form-control" placeholder="name" name="name">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="age" name="age">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="email" name="email">
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Register User</button>
        </div>
    </form>
</section>
{{>footer}}