{{>header}}
{{>navbar}}
<section class="container my-3">
    <div class="border border-primary p-5 m-3">
        <h3>User Name: {{user.name}}</h3>
        <p>User Age: {{user.age}}</p>
        <p>User Email: {{user.email}}</p>
    </div>
</section>
{{>footer}}